# Hispanic Population living in the United States in 2014:
This lot contains the number of US-born Hispanics and foreign born Hispanics living in the USA during 2014 per state. A big Thanks to http://www.pewhispanic.org/states/ for letting use its data.

In [120]:
import plotly.graph_objs as go 
from plotly.offline import init_notebook_mode,iplot,download_plotlyjs
init_notebook_mode(connected=True) 
import pandas as pd

In [121]:
#df = pd.read_csv("allstates14.csv")

In [122]:
#df.head()

In [123]:
df = pd.read_excel('all-states_14.xlsx', sheet_name='Sheet3')

In [124]:
df.head()

,State,Total,U.S.-born Hispanic population,Foreign-born Hispanic population,State Abv
0,Alabama,190000,119000,71000,AL
1,Alaska,49000,43000,7000,AK
2,Arizona,2056000,1486000,571000,AZ
3,Arkansas,205000,117000,88000,AR
4,California,14991000,9615000,5376000,CA

In [125]:
data = dict(type='choropleth',
            #colorscale = 'YIOrRd',
            locations = df['State Abv'],
            z = df['Total'],
            locationmode = 'USA-states',
            text ='US Born: ' + df['U.S.-born Hispanic population'].map(str) + '\n, ' + 'Non-US Born: '
            + df['Foreign-born Hispanic population'].map(str),
            #marker = dict(line = dict(color = 'rgb(255,255,255)',width = 2)),
            colorbar = {'title':"Population Number"}
            )

In [126]:
layout = dict(
    title = 'Hispanic Population in the US: 2014',
    geo = dict(scope= 'usa',
    showframe = False,
        #projection = {'type':'mercator'}
    ))

In [127]:
choromap = go.Figure(data = [data],layout = layout)
iplot(choromap,validate=False)